# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Database
*.db

# Environment Variables
.env

# Streamlit Cache
.streamlit/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# System Files
.DS_Store
Thumbs.db
.history/